{{ define "task.html" }}
<li id="task-{{ .ID }}"
 class="flex justify-between items-center bg-gray-100 p-3 rounded-lg shadow-sm mb-2 border border-gray-300 transition hover:shadow-mb">
 <div class="flex flex-col gap-1">
    <span class="font-medium text-lg">{{ .Text }}</span>
    <div class="flex gap-4 text-sm text-gray-600">
      <span>📅 {{ .DateTime | getDate }}</span>
      <span>⏰ {{ .DateTime | getTime }}</span>
      <span class="bg-blue-100 text-blue-700 px-2 py-0.5 rounded">Prioridade: {{ .Priority }}</span>
    </div>
  </div>

    <div class="flex space-x-2">
        <!-- Botão de concluir -->
        <button
            hx-patch="/complete/{{ .ID }}"
            hx-target="#task-{{ .ID }}"
            hx-swap="outerHTML"
            class="bg-green-500 text-white px-2 py-1 rounded-lg hover:bg-green-700 transition">
            ✔
        </button>

        <!-- Botão de remover -->
        <button
            hx-delete="/delete/{{ .ID }}" 
            hx-target="#task-{{ .ID }}"   
            hx-swap="delete" 
            class="bg-red-500 text-white px-2 py-1 rounded-lg hover:bg-red-700 transition">
            ❌
        </button>
    </div>
</li>
{{ end }}
