{{ define "index.html" }}
<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- Contém informações invisíveis, como o título da aba do navegador e scripts -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciador de Tarefas</title>

    <!-- Carrega bibliotecas externas -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/hrmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<header class="w-full bg-blue-500 text-white py-4 md-20 px-6 fixed top-0 left-0 shadow-md flex justify-between items-center">
    <h1 class="text-tg font-bold">Gerenciador de tarefas</h1>
    <nav class="space-x8">
        <!-- Adicione uma pagina para programar uma tarefa para os msm dia todo mes ou para o msm dia toda semana -->
        <!-- <a href="/task" class="hover:underline">Inicio</a> -->
        <!-- mude o caminho dps -->
        <a href="C:\work\workspace\To-Do-list_Go-HTMX-TAILSWIND\frontend\template\calendar.html" hx-get=""
            hx-target="#conteudo" hx-swap="innerHTML" class="hover:underline">Agenda</a>
    </nav>
</header>

<body class="bg-gradient-to-r from-blue-400 to-purple-500 flex justify-center items-center min-h-screen overflow-hidden">
    <div class="bg-white p-6 mt-20 mb-20 w-3/4 max-h-[calc(100vh-160px)]">
        <h1 class="text-xl font-bold mb-4 text-center">Lista de Tarefas</h1>
        <div class="flex justify-center">
        <form hx-post="/add" hx-target="#tasksList" hx-swap="beforeend" class="w-full flex flex-col gap-2 p-2"
        onsubmit="return this.text.value.trim() !== ''">
            <div class="flex gap-2">
                <input type="text" name="text" placeholder="Nova tarefa"
                    class="flex-grow border p-2 rounded-lg min-w-[200px] focus:outline-none focus:ring-2 focus:ring-blue-400 transition" />
                    
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
                    ➕ Adicionar
                </button>
            </div>

            <div class="flex justify-between items-center">
                <input type="date"
                    class="border p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition" />

                <input type="time"
                    class="border p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition" />

                <select class="border p-2 rounded-lg w-[14%] focus:outline-none focus:ring-2 focus:ring-blue-400 transition">
                    <option>Prioridade</option> 
                    <option>Alta</option>
                    <option>Media</option>
                    <option>Baixa</option>
                </select>
            </div>
        </form>
        {{ template "PopUp" . }} <!-- botão de envio excel-->
    </div>
        <ul id="tasksList" hx-get="/getTasks" hx-trigger="every 10s" hx-target="#tasksList" hx-swap="innerHTML"
        class="mt-4 pb-6 max-h-[45vh] overflow-auto flex-grow">
        </ul>
    </div>
</body>

</html>
{{ end }}